/* CSS Document */

/*======================================================================
 * Fonts
 *======================================================================
 */
@font-face {
    font-family: 'trade_gothic_lhboldextended';
    src: url('../../fonts/tgbv____0-webfont.eot');
    src: url('../../fonts/tgbv____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgbv____0-webfont.woff') format('woff'),
         url('../../fonts/tgbv____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgbv____0-webfont.svg#trade_gothic_lhboldextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trade_gothic_lhextended';
    src: url('../../fonts/tgv_____0-webfont.eot');
    src: url('../../fonts/tgv_____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgv_____0-webfont.woff') format('woff'),
         url('../../fonts/tgv_____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgv_____0-webfont.svg#trade_gothic_lhextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

section {
	background-image: none;

	@media only screen and (min-width : 481px) and (max-width : 960px) {
		float:left; clear:both;
        position:relative;
        width:100%; left:auto; right:auto; top:auto;
        height:auto;
        background-image:none;
        margin-top:166px;
	}

	@media only screen and (min-width : 768px) and (max-width : 960px) {
		margin-top:136px;
	}
}

footer {
    @media only screen and (min-width : 481px) and (max-width : 960px) {
	    float:left; clear:both;
	    position:relative;
	    width:100%;
	    left:auto; right:auto; top:auto;
	    padding-left:29px; padding-right:29px;
	    box-sizing:border-box;
	}
}

@media only screen and (max-width : 960px) {
 	#side-nav-mask {
        display:none;
    }

}




.copy {
	float:left;
	position:relative;
	padding-top:50px;
	padding-left:105px;
	padding-right:402px;
	margin-bottom: 10px;
	height:282px;

	@media only screen and (max-width : 480px) {
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
		margin-bottom: 10px;
		height:auto;
	}

	@media only screen and (min-width : 481px) and (max-width : 768px) {
		padding-left:29px;
		padding-top:29px;
		padding-right:29px;
		height:auto;
		//min-height:375px;

		.col1, .col2 {
			float:left;
			width:48%;
		}

		.col1 {
			margin-right:2%;
		}

		.col2 {
			margin-left:2%;
			max-width:271px;
		}
	}

	@media only screen and (min-width : 769px) and (max-width : 960px) {
		padding-left:46px;
		height:auto;
		min-height:375px;
	}

	h1 {
		font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:26px;
		line-height:28px;
		margin-bottom:20px;

    &.caps {
      text-transform: uppercase;
    }
	}

	h2 {
		font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:19px;
	}

	p {
		width:100%;
		color:#000000;
		font-size:12px;

		span {
			font-size:16px;
			font-weight:bold;
			color:#00afb9;

      &.pink {
        color:#DE7CCC;
      }
		}
	}



	.packshot {
		position:absolute;
		width:236px; height:300px;
		right:156px; bottom:10px;

		$scalepack:(236 / 360);

		img {
			position:absolute;
			width:100%;
      margin-bottom:(-78px * $scalepack);
			bottom:0;

      &.alt-placing-1 {
        bottom: -25px;
        margin-bottom: 0;
        width:100%;
      }

      &.alt-placing-2 {
        margin-bottom: 20px;
        width: 100%;
      }
		}

		@media only screen and (max-width : 480px) {
			position:relative;
			float:left; clear:both;
			width:100%; height:572px;
			right:auto; bottom:auto;

			img {
				position:relative;
				left:50%; bottom:auto;
				width:360px;
				margin-left:-(360px / 2);
			}

      &.alt-mobile-height {
        height:auto;

        img {
          margin-left: -40%;

          &.shift-left {
            margin-left: -50%;
          }
        }
      }
		}

		@media only screen and (min-width : 481px) and (max-width : 768px) {
			position:relative;
			right:auto; bottom:auto;
			float:right;
			width:100%; height:auto;

			img {
				width:100%;
				position:relative;
				left:auto; bottom:auto;
				float:right;
			}
		}
	}

	.buttons {
		position:absolute;
		right:46px; bottom:12px;
		width:100px;

		img {
			width:100px;
		}

		.btn {
			float:left; clear:both;
			display:block;
			width:100%;
			color:#ffffff;
			font-size:12px;
			font-weight:bold;
			padding:3px 0;
			background-color:#00afb9;
			text-align:center;
			margin-top:8px;

      &.pink {
        background-color:#D64F82;
      }
		}

		.btn:hover {
			color:#ffffff!important;
		}

		.btn.dark {
			margin-top:20px;
			background-color:#000000;
		}

		@media only screen and (max-width : 480px) {
			position:relative;
			float:left; clear:both;
			right:auto; bottom:auto;
			width:100%;
			margin-top:20px;

			img {
				width:150px;
			}

			.btn-group-mobile {
				float:right;
				width:100px;
			}

			.btn {
				width:100px;
				float:right;
			}

			.btn:first-of-type {
				margin-top:0;
			}
		}

		@media only screen and (min-width : 481px) and (max-width : 768px) {
			position:relative;
			float:left; clear:both;
			right:auto; bottom:auto;
			width:100%;
			margin-top:20px;

			.btn-group-mobile {
				float:right;
				width:100px;
			}

			.btn {
				width:100px;
				float:right;
			}

			.btn:first-of-type {
				margin-top:0;
			}
		}
	}
}

.jcb {
	h1 {
		color:#000000;
	}

	p {
		span {
			color:#d64f82;
		}
	}

	.buttons {
		.btn {
			background-color:#d64f82;

			&.dark {
				background-color:#000000;
			}
		}
	}

	.suggested-products {
		.inner {
			border-color:#d64f82;

			h3 {
				color:#d64f82;

        &.black {

        }
			}
		}
	}
}

.gcb {

	h1 {
		color:#000000;
	}

	p {
		span {
			color:#7b19aa;
		}
	}

	.buttons {
		.btn {
			background-color:#7b19aa;

			&.dark {
				background-color:#000000;
			}
		}
	}

	.suggested-products {
		.inner {
			border-color:#7b19aa;

			h3 {
				color:#7b19aa;

        &.black {

        }
			}
		}
	}
}

.sensitive {

	h1 {
		color:#000000;
	}

	p {
		span {
			color:#98cd00;
		}
	}

	.buttons {
		.btn {
			background-color:#98cd00;

			&.dark {
				background-color:#000000;
			}
		}
	}

	.suggested-products {
		.inner {
			border-color:#98cd00;

			h3 {
				color:#98cd00;

        &.black {

        }
			}
		}
	}
}

.tough-hair {

	h1 {
		color:#000000;
	}

	p {
		span {
			color:#9f0f8b;
		}
	}

	.buttons {
		.btn {
			background-color:#9f0f8b;

			&.dark {
				background-color:#000000;
			}
		}
	}

	.suggested-products {
		.inner {
			border-color:#9f0f8b;

			h3 {
				color:#9f0f8b;

        &.black {

        }
			}
		}
	}
}

@media only screen and (max-width : 480px) {
	.copy.panel-vis {
		display:none;
	}
}




.suggested-products {
	float:left; clear:both;
	position:relative;
	width:100%; height:100px;

	overflow-x:hidden;

	.inner {
		position:absolute;
		border-top:1px #00afb9 solid;
		left:85px; right:0;
		padding:20px 20px 0 20px;

		h3 {
			font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
			display:inline;
			float:left;
			font-size:19px;
			line-height:19px;
			color:#00afb9;
			margin-right:20px;

      &.black {
        color:#000000;
      }
		}

		a {
			img {
				float:left;
				margin-right:15px;

        &.alt-height-1 {
          height:60px;
        }

        &.no-right-margin {
          margin-right: 0;
        }
			}
		}
	}

	@media only screen and (max-width : 480px) {

		width:auto; height:auto;
		padding:20px 20px 20px 20px;

		.inner {
			position:relative;
			left:auto; right:auto;
			float:left; clear:both;
			padding:20px 0 0 0;

			h3 {
				width:100%;
				display:block;
				margin-bottom:5px;
			}
		}
	}

	@media only screen and (min-width : 481px) and (max-width : 768px) {
		width:100%; height:auto;
		padding:20px 29px 20px 29px;
		box-sizing:border-box;

		.inner {
			position:relative;
			left:auto; right:auto;
			float:left; clear:both;
			padding:20px 0 0 0;
			width:100%;
			box-sizing:border-box;
		}
	}

	@media only screen and (min-width : 769px) and (max-width : 960px) {
		.inner {
			left:0;
		}
	}

}

@media only screen and (max-width : 480px) {
	.suggested-products.panel-vis {
		display:none;
	}
}

/* overlays */

.masker {
	width:100%; height:100%;
	position:absolute;
	left:0; top:0;
	background-color: #000000;
	background-color: rgba(12, 0, 57, 0.45);
	z-index:4500;

	@media only screen and (max-width : 480px) {
		position:relative;
		height:auto;
	}
}

#overlay_panel {
	width:412px; height:396px;
	margin-left:auto; margin-right:auto;
	position:relative;
	margin-top:29px;

	.bg {
		position:absolute;
		left:0; top:0;
	}

	.inner {
		position:absolute;
		left:0; top:0;
		width:358px; height:366px;
		margin-left:23px; margin-top:16px;

		.overlay-menu {
			list-style:none;
			margin:0; padding:0;

			li {
				float:left;
				font-size:11px;
				margin-right:5px;
			}
		}
	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (max-width : 480px) {

		float:left; clear:both;
		width:100%; min-height:100%; height:auto;
		background-color:#fff;
		margin-top:0;
		padding-bottom:50px;

		.bg {
			display:none;
		}

		.inner {
			position:relative;
			left:auto; top:auto;
			float:left; clear:both;
			width:94%; height:94%;
			margin:3%;
		}
	}
}



.closer {
	font-size:11px;
	float:right;
}

.closer a, .overlay-menu li a {
	color:#000000;
}

.panel_content {
	position:absolute;
	left:0; top:20px;
	width:358px; height:346px;
	overflow:auto;
	color:#000000;

	p, ol, ul {
		font-size:11px!important;
	}

	ol, ul {
		padding-left:20px; width:315px;
	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (max-width : 480px) {
		position:relative;
		left:auto; top:auto;
		float:left; clear:both;
		width:100%; height:100%;
		margin-top:20px;
		overflow-x:hidden;
	}
}

// .panel_content.lilac {color:#7b5bc5;}
// .panel_content.limeGreen {color:#9ec538;}
// .panel_content.skyBlue {color:#26c1e4;}
// .panel_content.turquoise {color:#00c1c2;}
// .panel_content.pink {color:#cf56ae;}
// .panel_content.orange {color:#e48204;}

#p_instructions {
	h3 {
		background-color:#9ec538;
		padding:5px;
		width:325px;
		color:white;
		font-size:14px;
		font-weight:bold;
		cursor: pointer;

		a, a:link, a:active, a:visited {
			display:block;
			color:white;
		}

		a:hover {
			color:white;
		}
	}

	h3.orange {
		background-color:#e48204;
	}

	h3.skyBlue {
		background-color:#26c1e4;
	}

	table {
		font-size:11px;
	}

	p {
		width:335px;
	}
}

#p_ingredients {
	width:358px;
}
#p_reviews {
	width:358px;
	overflow:visible!important;

	h1 {
		width:253px;
		margin-left:65px;
		font-size:24px;
		font-family: 'Varela', sans-serif;
	}
}

#reviews_list {
	width:318px; height:130px;
	padding:10px 36px 10px 20px ;
	background-color:#000000;
	overflow-y:scroll;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
	#p_instructions p {width:100%;}
	#p_ingredients {width:100%; }
	#p_reviews {width:100%;}

	#reviews_list {
		width:92%; height:auto;
		min-height:130px;
		padding:2% 4%;
	}

	#review-container {
		width:100%;
	}

}

.form_row {
	float:left; clear:both;
	width:358px;
	margin-top:5px;

	label {
		float:left;
		width:65px;
		color:#000000;
		font-size:12px;
	}

	label.wide {width:165px;}

	input, textarea {
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		resize:none;
		padding:3px;
		border: 2px #999999 solid;
	}

	// .skyBlueInput {border: 2px #02b8dc solid;}
	// .lilacInput {border: 2px #7b5bc5 solid;}
	// .limeGreenInput {border: 2px #9ec538 solid;}
	// .orangeInput {border: 2px #e48204 solid;}
	// .turquoiseInput {border: 2px #00c1c2 solid;}
	// .pinkInput {border: 2px #cf56ae solid;}
	.inputText {float:right; width:195px;}
	.inputTextArea {float:right; width:280px;}
	.inputTextSmall {float:right; width:85px;}


	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (max-width : 480px) {
		width:100%;

		.inputText, .inputTextArea {
			width:98%;
			padding:1%;
			border-width:1%;
		}
		.inputTextArea {height:5em;}
		label {width:auto;}
	}
}

.stars-select {
	background-image:url(/images/main/products/review-stars.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width:81px; height:15px;
	margin:2px 0 0 4px;
	float:right;

	a {
		width: 16px; height:16px;
		display: block;
		float: left;
	}
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (max-width : 480px) {
		display:none;
	}
}

@media only screen and (max-width : 480px) {
	.stars-select.phone {
		background-image:url(/images/main/products/review-stars.png);
		background-repeat:no-repeat;
		background-position:0 0;
		width:81px; height:15px;
		margin:2px 0 0 4px;
		display:block;
		float:left;
	}
}

.s5 {background: url('/images/main/products/review-stars.png') no-repeat 0 0 !important;}
.s4 {background: url('/images/main/products/review-stars.png') no-repeat 0 -15px !important;}
.s3 {background: url('/images/main/products/review-stars.png') no-repeat 0 -30px !important;}
.s2 {background: url('/images/main/products/review-stars.png') no-repeat 0 -45px !important;}
.s1 {background: url('/images/main/products/review-stars.png') no-repeat 0 -60px !important;}

#phone-stars {
	display:none;

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen and (max-width : 480px) {
		display:block;
	}
}

#review-container {
	float:left;
	clear:both;
	width:320px;
	margin-bottom:5px;
	margin-top:0px;
	border-bottom:1px solid #cccccc;

	p {
		color:white;
		font-size:14px !important;
	}

	p.name{
		float:right;
	}
}

#customer-stars-select {
	background-image:url(/images/main/products/review-stars.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width:81px; height:15px;
	margin:2px 0 0 4px;
	float:left;

	a {
		width: 16px; height:16px;
		display: block;
		float: left;
	}
}
#customer-stars-select.s5 {background: url('/images/main/products/customer-review-stars.png') no-repeat 0 0 !important;}
#customer-stars-select.s4 {background: url('/images/main/products/customer-review-stars.png') no-repeat 0 -15px !important;}
#customer-stars-select.s3 {background: url('/images/main/products/customer-review-stars.png') no-repeat 0 -30px !important;}
#customer-stars-select.s2 {background: url('/images/main/products/customer-review-stars.png') no-repeat 0 -45px !important;}
#customer-stars-select.s1 {background: url('/images/main/products/customer-review-stars.png') no-repeat 0 -60px !important;}

.captcha {
	float:right;
	margin-right:10px;
}

.submit {
	position:absolute;
	right:-20px; bottom:5px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	background-color:#000000;
	border:none;
	color:#fff;
	width:120px;
	padding:3px;
	font-size:11px;
	cursor:pointer;

	@media only screen and (max-width : 480px) {
		position:relative;
		right:auto; bottom:auto;
		float:right;
		clear:both;
		margin-right:-20px;
		margin-top:20px;

	}
}

.show-br {
	display:block;
}
