@charset "utf-8";
/* CSS Document */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

/* Login Form */

#login_box {
	position:absolute;
	left:50%;
	top:40%;
	margin:-50px auto auto -135px;;
	width:280px;
	text-align:left;
	border: 1px solid #CACACA;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
	padding:10px; 
}

.form_warning_short {
	color:#317acd;
	float:left; clear:both;
	width:160px;
	padding:2px 10px 2px 20px;
	margin-left:150px;
	margin-top:5px;
	background:#FFF url(/images/admin/layout/ico_err.png) no-repeat 5px 3px;
}