@charset "utf-8";
/* CSS Document */

/*********************************************
/* Some Custom Styles
/*********************************************/

.hidden {display:none;}

.ff {float:left;}
.rf {float:right;}
.cf {float:left;clear:both;}
.rcf {float:right;clear:both;}
.jc {clear:both;}

/* Quick Margins */

.mt0 {margin-top:0px;}
.mt1 {margin-top:1px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt25 {margin-top:25px;}

.mr0 {margin-right:0px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}

.ml0 {margin-left:0px;}
.ml1 {margin-left:1px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}

/* Quick Paddings */

.pt0 {padding-top:0px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}

.pr0 {padding-right:0px;}
.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}

.pb0 {padding-bottom:0px;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}

.pl0 {padding-left:0px;}
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}

/* Font Sizes */

.biggerText {font-size:1.2em;}
.mediumText {font-size:0.9em;}
.smallText {font-size:0.8em;}
.smallerText {font-size:0.7em;}
.tinyText {font-size:0.6em;}

.ca {text-align:center;}
.la {text-align:left;}
.ra {text-align:right;}

.nodecoration {text-decoration:none;}
.normaltext{font-weight: normal;}

.dontwrap {white-space: nowrap;}
.bolder {font-weight:bold;}