/* CSS Document */

/*======================================================================
 * Fonts
 *======================================================================
 */
@font-face {
    font-family: 'trade_gothic_lhboldextended';
    src: url('../../fonts/tgbv____0-webfont.eot');
    src: url('../../fonts/tgbv____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgbv____0-webfont.woff') format('woff'),
         url('../../fonts/tgbv____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgbv____0-webfont.svg#trade_gothic_lhboldextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trade_gothic_lhextended';
    src: url('../../fonts/tgv_____0-webfont.eot');
    src: url('../../fonts/tgv_____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgv_____0-webfont.woff') format('woff'),
         url('../../fonts/tgv_____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgv_____0-webfont.svg#trade_gothic_lhextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

section {
    background-image: url('/images/main/home-v5/background.jpg');
}

#home {
    position:absolute;
    top:50px;
    left:105px;
    right:370px;
    bottom: 20px;

    .mobile-header {
        display:none;    
    }

    h1 {
        font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
        font-size:50px;
        line-height:1em;
        color:#f2e3b0;
    }

    p {
        font-family: 'trade_gothic_lhextended', 'Quattrocento Sans', Arial, Helvetica, sans-serif;
        color:#f2e3b0;
        margin-top:20px;
        font-size:11px;
        line-height:13px;
    }

    .range {
        position:absolute;
        left:50%; bottom:0;
        width:184px;
        margin-left:-(184px / 2);
    }

    .buy-now {
        font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
        position:absolute;
        right:0;
        bottom:0;
        background-color:#f2e3b0;
        color:#0c0039;
        padding:5px 20px 4px 20px;
    }
}







/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 768px) {
    
    section {
        float:left; clear:both;
        position:relative;
        width:100%; left:auto; right:auto; top:auto;
        height:auto;
        background-image:none;
    }

    #home {
        float:left; clear:both;
        position:relative;
        top:auto;
        left:auto;
        right:auto;
        bottom: auto;
        padding:20px;

        

        .mobile-header {
            width:100%;
            display:block;
        }

        .mobile-wrap {
            float:left; clear:both;
            width:96%;
            padding:2%;
            margin-top:5px;
            background-image:url(/images/main/home-v5/bg-repeat.png);
            background-size:contain;
            background-repeat: repeat-y;
        }

        h1 {
           display:none;
        }

        p {
            margin-top:0;
            font-size:11px;
            line-height:13px;
        }

        .range {
            position:relative;
            left:50%; bottom:auto;
            margin-left:-(184px / 2);
        }

        .buy-now {
            float:right; clear:both;
            position:relative;
            right:auto;
            bottom:auto;
            background-color:#f2e3b0;
            color:#0c0039;
            margin-top:150px;
            padding:5px 20px 4px 20px;
        }
    }

}


/* The world between (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 768px) {
    
    section {
        margin-top:166px;
    }

    #side-nav-mask {
        display:none;
    }

    #home {
        padding:10px 29px;

        p {
           font-size:12px;
           line-height:14px;
        }

        .buy-now {
            
        }
    }


    footer {
        float:left; clear:both;
        position:relative;
        width:100%;
        left:auto; right:auto; top:auto;
        padding-left:29px; padding-right:29px; 
        box-sizing:border-box;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 769px) and (max-width : 960px) {
    
    #home {
        right:330px;

        h1 {
            
            font-size:34px;
        }

        .buy-now {
            right:-50px;
        }
    }
}