// VARIABLES
$dark-blue: #000000;
$white: #ffffff;

// MIXINS
@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin font-size($fontSize:16, $lineHeight:$fontSize, $important:'false') {
  @if($important == 'important') {
    font-size: $fontSize + px !important;
    font-size: ($fontSize / 16) + rem  !important;

    line-height: $lineHeight + px  !important;
    line-height: ($lineHeight / 16) + rem  !important;
  }
  @elseif {
    font-size: $fontSize + px;
    font-size: ($fontSize / 16) + rem;

    line-height: $lineHeight + px ;
    line-height: ($lineHeight / 16) + rem;
  }
}

@mixin transition-this($type:all, $speed:0.3s, $ease:linear) {
	-webkit-transition: $type $speed $ease;
	-moz-transition: $type $speed $ease;
	-ms-transition: $type $speed $ease;
	-o-transition: $type $speed $ease;
	transition: $type $speed $ease;
}

@mixin wh($size) {
  width:$size;
  height:$size;
}

// STYLES
.cookie-disclaimer {
	float:left;
	width:100%;
	background-color:$dark-blue;
	color:$white;
	z-index:1010;
	text-align:center;
	padding:0;
	@include border-box();
	@include font-size(14,16);
	@include transition-this();
	max-height:0;
	overflow:hidden;
	orphans:3;
    widows:3;

	&.shown {
		max-height:150px;
		padding:20px 60px;
	}

	a {
		color:$white;
		text-decoration:underline;

    &:hover {
      color:$white;
    }
	}

	.btn-close {
		position:absolute;
		top:20px; right:20px;
		@include wh(15px);
		cursor:pointer;

		line {
			fill:none;
			stroke:$white;
			stroke-width:7;
			stroke-linecap:round;
			stroke-miterlimit:10;
		}
	}
}
