/* CSS Document */

@import url("../customscroll/jquery.mCustomScrollbar.css");


section {
	background-image: url('/images/main/main-background.jpg');
}

#container {
	height:461px;
}

#main-image {
	width: 556px; height: 461px;
	position: absolute;
}
#main-image img {
	right:0px;
	bottom:0px;
}

#right-content {
	position:absolute;
	top:0px; right:0px;
	width: 351px; height: 461px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .85);
}
	
#right-content h2 {
	width:321px;
	font-weight:normal!important;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:20px;
	font-size:18px;
	margin-top:29px;
	margin-bottom:10px;
	padding:0 15px;
	clear:both;
}

#right-content h3 {
	font-weight: normal;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:12px;
	margin-top:29px;
	margin-bottom:5px;
	padding:0 15px;
	clear:both;
	text-align:right;
}

#right-content h4 {
	font-weight: bold;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:13px;
	margin-top:29px;
	margin-bottom:5px;
	padding:0 15px;
	clear:both;
}

#right-content p {
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:16px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0 15px;
	clear:both;
}

.group {
	float:left; clear:both;
	position:relative;
	width:351px; height:auto;
	overflow:hidden;
}

.button-group {
	float:left; clear:both;
	position:relative;
	width:351px; height:auto;
	overflow:hidden;
	margin-top:10px;
}

.c-btn {
	float:left; clear:both;
	margin:5px 0 0 15px;
	width:480px; height:50px;
	background:transparent url(/images/main/consultation/answer-background.png) no-repeat 0 0;
	display: table-row;	
}
.c-btn.b1 {margin-left:45px;}
.c-btn.b2 {margin-left:75px;}
.c-btn.b3 {margin-left:105px;}
.c-btn.b4 {margin-left:135px;}
.c-btn.b5 {margin-left:165px;}
.c-btn.b6 {margin-left:195px;}

.c-btn a {
	display:block;
	padding:6px 0 4px 62px;
	height:40px;
	font-size:15px; line-height:13px;
	font-family: 'Varela', sans-serif;
	font-weight:bold;
}
.c-btn a:link, .c-btn a:visited {color:#ffffff;}
.c-btn a:hover, .c-btn a:visited:hover {color:#0c0039;}

.c-btn a .inner {
	display:table-cell;
	vertical-align:middle;
	width:100%; height:40px;
}

.c-btn.b1 a {width:259px;}
.c-btn.b2 a {width:229px;}
.c-btn.b3 a {width:199px;}
.c-btn.b4 a {width:169px;}
.c-btn.b5 a {width:139px;}
.c-btn.b6 a {width:109px;}

.big {font-size:18px;}

a.back {
	float:right; clear:both;
	margin:29px 15px 0 0;
	display:block;
	padding-left:15px;
	background:transparent url(/images/main/consultation/arrow-back.png) no-repeat 0 4px;
	text-decoration:underline;
}

#right-content #scrollblock {
	width:351px; height:403px;
	margin:29px 0;
	overflow:auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#right-content #scrollblock h2 {
	margin-top:0;
}

#product-images {
	width:277px; /* removes the width of the scroll bar */
	padding:15px 29px;
	text-align:center;
}

#product-images a img {
	display:inline; height:130px; margin:0 5px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#container {
		float:left; clear:both;
		width: 100%; height:auto;
		padding-bottom:20px;
	}
	
	#main-image {
		display:none;
	}
	
	#right-content {
		width:100%; height:auto;
		position: relative;
		float:left; clear:both;
		left:0; right:0;
		padding:0;
		background-color:transparent!important;
	}
	
	#right-content h2, #right-content h3 {
		width:100%;
		text-align:center;
		padding-left:0; padding-right:0;
	}

	h2.question span {
		display:block;
		padding:0 15px;
	}

	.group, .button-group {
		width:100%;
	}
	
	#right-content #scrollblock {
		float:left; clear:both;
		width:100%;
		height:auto!important;
	}
	
	#product-images {
		padding:15px 0;
		width:100%;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}