/* CSS Document */

section {
	background-color:white;
	background-image: none;
	background-image: url('/images/main/main-background.jpg');
}

section p {
	font-size:12px;
	line-height:14px;
}

#main-info {
	height: 403px;
	position: absolute;
	margin-left:115px;
	margin-top:29px;
}

#main-info.scroll {
	overflow: auto;
	padding-right:10px;
}

#main-info h3 {
	font-weight:bold;
}

ol {
	list-style: decimal;
	list-style-position: inside;
}

ol li {
	padding-bottom:10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#container {
		width:100%;
		float:left; clear:both;
	}

	#main-info {
		position:relative;
		float:left; clear:both;
		margin:10px;
		height:auto;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */

}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}
