/* CSS Document */

#home-canvas, #home-canvas-peel {
	position:relative;
	width:902px; height:461px;
	overflow:hidden;
	display:none;
}

#home-canvas img, #home-canvas-peel img {
	position:absolute;
}

#home-canvas .reflect {
	left:89px; bottom:0;
	opacity:0;
}

#home-img {
	position:absolute;
	bottom:0;
	width:100%;
}

.home-text {
	position:absolute;
	left:100px; top:70px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;
	color:#fff;
}

#voucher-header {
	position:absolute;
	left: 0px; top: 29px;
}

.disclaimer {
	display:block;
}

.discover {
	cursor:pointer;
	position:absolute;
	left:302px; top:29px;
}

.side-panel {
	position:absolute;
	left:0; top:0;
}

.alt-image {
	position:absolute;
	right:0; top:0;
}

#alt-peel {
	position:absolute;
	left:0; top:0;
	width:100%;
	height:461px;
	overflow:hidden;
}

#peel-panel-overlay {
	position:absolute;
	width:262px; height:71px;
	left:15px; top:265px;
	z-index:1001;
	background-color:#0c0039;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#home-canvas, #home-canvas-peel {display:none!important;}
	#home-img {
		position:relative;
		float:left;
	}

	.home-text {
		display:none!important;
	}
	
	#voucher-header {
		display: none!important;
	}

	#alt-peel {display:none!important;}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#home-canvas, #home-canvas-peel {display:none!important;}
	.instructions {display:none!important;}
	.home-text {font-size:20px;}
	#alt-peel {display:none!important;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#home-canvas, #home-canvas-peel {display:none!important;}
	.instructions {display:none!important;}
	.home-text {font-size:20px;}
	#alt-peel {display:block!important;}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	#home-img {display:none!important;}
	#alt-peel {display:none!important;}
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}