/* CSS Document */

section {
	background-color:white;
	background-image: none;
	background-image: url('/images/main/main-background.jpg');
}

section p {
	font-size:12px;
	line-height:14px;
}

section ul.main,
section ul.hyphen,
section ul.alpha {
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: decimal;
	list-style-position: inside;
	font-size:12px;
	line-height:14px;
}

section ul.hyphen {
	list-style:circle;
	list-style-position: inside;
}

section ul.alpha {
	list-style:lower-alpha;
	list-style-position: inside;
}

section ul li {
	padding-bottom: 0.5rem;
}


#main-info {
	height: 403px;
	position: absolute;
	margin-left:115px;
	margin-top:29px;

	&.legal {
		table {
			tbody {
				th {
					font-weight: bold;
					font-size: 12px;
					padding:5px;
				}
				td {
					font-size: 12px;
					vertical-align: top;
					padding:5px;
				}
			}
		}
	}
}

#main-info.scroll {
	overflow: auto;
	padding-right:10px;
}

#main-info h3 {
	font-weight:bold;
}


.privacy-wrap {

	ul {
		list-style: circle;
		li {
			font-family: 'Quattrocento Sans', sans-serif;
			font-size: 12px;
			line-height: 14px;
			list-style-position: inside;
		}
	}

}

.third-party-table {
	border-collapse: collapse;

	table, th, td {
		border: 1px solid black;
	}

	th {
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
		padding:0.5rem;
		background:black;
		color:white;
		text-align: center;
	}

	td {
		font-size: 12px;
		line-height: 14px;
		padding:0.5rem;
		text-align: center;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#container {
		width:100%;
		float:left; clear:both;
	}

	#main-info {
		position:relative;
		float:left; clear:both;
		margin:10px;
		height:auto;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */

}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}
