/* CSS Document */

/*======================================================================
 * Fonts
 *======================================================================
 */
@font-face {
    font-family: 'trade_gothic_lhboldextended';
    src: url('../fonts/tgbv____0-webfont.eot');
    src: url('../fonts/tgbv____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tgbv____0-webfont.woff') format('woff'),
         url('../fonts/tgbv____0-webfont.ttf') format('truetype'),
         url('../fonts/tgbv____0-webfont.svg#trade_gothic_lhboldextended') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'trade_gothic_lhextended';
    src: url('../fonts/tgv_____0-webfont.eot');
    src: url('../fonts/tgv_____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tgv_____0-webfont.woff') format('woff'),
         url('../fonts/tgv_____0-webfont.ttf') format('truetype'),
         url('../fonts/tgv_____0-webfont.svg#trade_gothic_lhextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hw_acc {
	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

}

#side-nav {
	/*display:none;*/
}

#side_panel {
	position:absolute;
	left:0; top:0;
	width:902px; height:461px;
	overflow:hidden;
}

#side_panel .slide {
	position:absolute;
	left:-374px; top:0;
}

#side_panel .side {
	position:absolute;
	left:0; top:0;
}

#side_panel .block-text {
	position:absolute;
	left:16px; top:310px;
	width:260px; height:75px;
	background-color:#0c0039;
	display:block;
}

#side_panel .offer {
	position:absolute;
	left:18px; top:400px;
	width:256px; height:30px;
	display:block;
}

#home-canvas-peel {
	position:relative;
	width:902px; height:461px;
	overflow:hidden;
	display:none;
}

#home-canvas-peel img {
	position:absolute;
}

#home-canvas-peel {
	position: absolute;
	width:auto; height: 461px;
	left:312px; right:0px;
}

.stack {
	display:block;
	margin:64px auto 0 auto;
	width:384px; height:395px;
	position:relative;
}

.inner {
	position:absolute;
	width:251px; height:209px;
	top:43px; left:69px;
	background-color:#0a0038;
	overflow: hidden;
}

.woman {
	position:absolute;
	left:78px; top:-175px;
	width:94px; height:175px;
}

.woman .layer1,
.woman .layer2 {
	position:absolute;
	left:0; top:0;
	width:94px; height:175px;
	background-image:url(/images/main/home-v3/woman.jpg);
	background-repeat:no-repeat;
	background-color:transparent;
}

.woman .layer1 {background-position:0 0;}
.woman .layer2 {background-position:-94px 0;}

.tono {
	position:absolute;
	left:5px; top:10px;
	width:9px; height:154px;
	opacity: 0;
}

.logo1 {
	position:absolute;
	left:78px; top:48px;
	width:102px; height:43px;
	opacity: 0;
}

.takes-care {
	position:absolute;
	left:32px; top:95px;
	width:188px; height:14px;
	opacity: 0;
}

.skin-zoom {
	position:absolute;
	left:113px; top:120px;
	width:30px; height:30px;
	opacity: 0;
}

.wax {
	position:absolute;
	left:8px; top:-208px;
	width:239px; height:208px;
}

.stick {
	position:absolute;
	left:-246px; top:-49px;
	width:246px; height:49px;
}

.instruction1,
.instruction2,
.instruction3 {
	position:absolute;
	width:170px; height:25px;
	background-image:url(/images/main/home-v3/instructions.png);
	background-repeat:no-repeat;
	background-color:transparent;
	opacity:0;
}

.instruction1 {
	top:30px; left:41px;
	background-position:0 0;
}
.instruction2 {
	top:30px; left:41px;
	background-position:0 -25px;
}
.instruction3 {
	top:136px; left:41px;
	background-position:0 -50px;
}

.timer {
	position:absolute;
	left:93px; top:61px;
	width:65px; height:65px;
	background-image:url(/images/main/home-v3/timer.png);
	background-repeat:no-repeat;
	background-position:0 0;
	opacity:0;
}

.peel-start {
	position:absolute;
	right:4px; bottom:-63px;
	width:99px; height:63px;
}

.peel-frames {
	position:absolute;
	width:251px; height:209px;
	background-image:url(/images/main/home-v3/peel-frames.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	opacity:0;
}

.no-mess {
	position:absolute;
	left:77px; top:132px;
	width:106px; height:49px;
	opacity:0;
}

.pack {
	position:absolute;
	left:-45px; top:-6px;
	width:341px; height:284px;
	opacity:0;
}

.slide-up-end {
	position:absolute;
	left:0; bottom:-28px;
	width:251px; height:28px;
}

.discover-edge {
	position:absolute;
	display:block;
	left:315px; top:28px;
	width:250px; height:30px;
}

.discover-edge .discover {
	position:absolute;
	width:250px; height:30px;
	left:-250px; top:0;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */	
	#side_panel {display:none;}

	.discover-edge {
		position:relative;
		float:left; clear:both;
		left:auto; top:auto;
		margin-top:28px;
		width:100%; height:30px;
	}

	#home-canvas-peel {
		position:relative;
		float:left; clear:both;
		width:100%; height:461px;
		left:auto; right:auto;
	}
}

/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#side_panel {display:none;}

	.discover-edge {
		left:0;
	}

	#home-canvas-peel {
		width:auto;
		left:0;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}

/*======================================================================
 * Import hub styles for new argon home page
 *======================================================================
 */
/* CSS Document */

section {
	background-image: url('/images/main/main-background.jpg');
}

.whiteText {
	color:white;
}

#container {
	width: 902px; height:461px;
}

#main-image {
	width: 556px; height: 461px;
	position: absolute;
}

#main-image img {
	right:0px;
	bottom:0px;
	margin-left:25px;
}

#right-content {
	width:346px; 
	height: 461px;
	position: absolute;
	right:0px;
	padding-left:10px;
	background: url('/images/main/hub/white-trans-bg.png');
	padding-left:29px;
}

#right-content.brazilian {
	background: url('/images/main/hub/brazilian-trans-bg.png');
	padding-left:29px;
}

#copy
,#copy-nair {
	position:relative;
	float: left; clear: both;
	width:327px; height: 196px;
	top:29px;
}

#copy-nair {
	width:100%;
	height: auto;
}

#right-content.nair {
	width: 465px;
	padding-left:29px;
	background:#000;
}

.image-header-text {
	margin-top:-305px;
	margin-left:120px;
}

.nair-home-header 
,.nair-image-header {
	font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
	font-size:5.7em;
	font-weight:bold;
	line-height:.8em;
	margin-top: 30px;
}

.nair-image-header {
	font-size:3em;
	color:#fff;
}

.nair-home-text {
	font-family: 'trade_gothic_lhextended', 'Quattrocento Sans', Arial, Helvetica, sans-serif;
	font-size:0.9em;
	line-height:1.3em;
	margin-top:15px;
}

.show-br {
	display:block;
}

#mini-nav .brazilian {
	padding-left:29px;
}

#mini-nav img.shift-y {
	margin-left:-60px;
	margin-top:-20px;
}

 .text-bottom-wrap 
,.text-bottom {
	width:100%;
	margin-top:-15px;
	float:left;
}

.text-bottom {
	width:310px;
	margin:0 auto;
	float:none;
}

.text-bottom p {
	font-size:12px;
	font-weight:bold;
}

#mini-nav
,#nair-nav {
	width:346px; height:256px;
	position:relative;
	float: left; clear: both;
}

#nair-nav {
	width:auto; 
	height:auto;
	margin-top: 30px;
}

.nair-packshot-wrap
,.nair-packshot-text {
	width:auto;
	height:auto;
	float:left;
}

.nair-packshot-text {
	margin-top:30px; 
	margin-left:20px;
}

.nair-packshot-btn-wrap
,.nair-packshot-btn-contents {
	width:auto; 
	height:auto;
	float: right;
}

.nair-packshot-btn-contents {
	margin-right:30px;
	margin-top:95px;
}

.nair-btn {
	margin-bottom:0px;
}

.nair-btn a.nair-buy-now
,.nair-btn a.nair-buy-now:visited
,.nair-btn a.nair-more
,.nair-btn a.nair-more:visited {
	display:block;
	background: url('/images/main/home/nair-btn.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	width:108px;
	height:30px;
}

.nair-btn a.nair-buy-now:hover {
	background-position:-108px 0px;
}

.nair-btn a.nair-more
,.nair-btn a.nair-more:visited {
	background-position:0px -47px;
}

.nair-btn a.nair-more:hover {
	background-position:-108px -47px;
}


#carousel-master {
	list-style:none;
	position:absolute;
	left:0; top:0;
}

#carousel-master li {
	position:absolute;
	left:0; top:0;
}

#carousel-master li img.norm, #carousel-master li img.blur {
	width:88px; height:230px;
	position:absolute;
	left:-44px; top:-115px;
}

#carousel-master li img.blur {
	opacity:0;
}

#bLeft, #bRight {
	position:absolute;
	width:129px; height:256px;
	top:0;
	cursor:pointer;
	transition:			all 400ms ease;
	-moz-transition:	all 400ms ease; /* Firefox 4 */
	-webkit-transition: all 400ms ease; /* Safari and Chrome */
	-ms-transition:		all 400ms ease; /* ie */
	-o-transition:		all 400ms ease; /* Opera */
	background: rgba(255,255,255,0);
}

 #bLeft.hubCarOver
,#bRight.hubCarOver {
	background: rgba(255,255,255,0.5);
}

 #bLeft.hubCarFade
,#bRight.hubCarFade {
	-ms-filter:		"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
	filter:			alpha(opacity=30); /* IE 5-7 */
	-moz-opacity:	0.3; /* Netscape */
	-khtml-opacity: 0.3; /* Safari 1.x */
	opacity:		0.3; /* Good browsers */
}

#bLeft {
	z-index:10001;
	left:0;
}
#bLeft img {
	position:absolute;
	right:0; top:120px;
}
#bRight {
	z-index:10002;
	right:0;
}
#bRight img {
	position:absolute;
	left:0; top:120px;
}

/*======================================================================
 * Jplayer override style
 *======================================================================
 */
 .video-wrap {
	width:439px;
	height:179px;
	overflow:hidden;
 }
 
.jp-jplayer{
	width: 439px;
	height: 179px;
}

.jp-gui {
	margin-top:10px;
	transition:			all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition:		all 0.3s ease;
	-o-transition:		all 0.3s ease;
}

.slideUp {
	margin-top:-35px;
}

div.jp-interface {
	position: relative;
	background: transparent;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#main-image {
		display:none;
	}
	
	#right-content {
		width:auto; 
		height:600px;
		position: absolute;
		left:0; right:0;
		padding:0;
	}
	
	#right-content.nair {
		width:100%;
	}
	
	#container {
		width: 100%;
		height: 600px;
	}
	
	#copy {
		position:relative;
		float: none; clear: both;
		width:346px; height: 196px;
		margin-left:auto; margin-right:auto;
		top:20px;
	}
	
	#copy-nair {
		width: 90%;
	}
	
	.nair-home-header {
		font-size:5em;
	}
	
	#mini-nav {
		width:346px; height:256px;
		position:relative;
		float: none; clear: both;
		margin-left:auto; margin-right:auto;
	}
	
	#mini-nav .brazilian {
		padding-left:29px;
	}
	
	.nair-packshot-btn-wrap
	,.nair-packshot-btn-contents {
		width: auto;
		height: auto;
		margin:0px; 
		float: left;
	}
	
	.nair-packshot-btn-wrap {
		width:100%;
	}
	
	.nair-btn {
		margin-right:10px;
		float:left;
	}
	
	.show-br {
		display:none;
	}
	
	/*======================================================================
	 * Jplayer override style
	 *======================================================================
	 */
	 .video-wrap 
	 ,.jp_container_1 
	 ,.jp-jplayer{
		width: 300px;
	 }
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}
	
	#mini-nav .brazilian {
		padding-left:29px;
	}
}

/* Tiny screens (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
	/* Styles */
	.nair-home-header {
		font-size: 3.3em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}
	
	#mini-nav .brazilian {
		padding-left:29px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */

}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}
