/* CSS Document */

@import url("../customscroll/jquery.mCustomScrollbar.css");

section {
	background-image: url('/images/main/main-background.jpg');
}

section p {
	line-height:14px;
}

#container {
	/*width: 902px;*/
	height:461px;
}

#main-info {
	width: 413px; height: 403px;
	position: absolute;
	margin-left:115px;
	padding-right:29px;
	margin-top:29px;
	overflow:auto;
}

#right-content {
	position:absolute;
	top:0px; right:0px;
	width: 351px; height: 461px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .85);
}

#right-content h2 {
	width:321px;
	font-weight:normal!important;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:20px;
	font-size:18px;
	margin-top:29px;
	margin-bottom:10px;
	padding:0 15px;
	clear:both;
}

#page-tabs {
	list-style: none;
	margin: 10px 0;
}
#page-tabs li {
	float:left;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;  font-weight:bold;
	width:117px;
	text-align: center;
	background-color:#DDE2E6;
}
#page-tabs li:hover {
	background-color:#DDE2E6;
}

#page-tabs li.active a, #page-tabs li.active a:active, #page-tabs li.active a:visited  {
	background-color:#000000;
	color:white;
}

#page-tabs li a, #page-tabs li a:active, #page-tabs li a:visited  {
	padding:5px 5px 5px 5px !important;
	font-weight:bold;
	display: block;
}


.form-row, .error {
	margin-bottom:5px;
	width:100%;
}

.form-row label {
	width: 150px;
	float: left; clear:both;
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
}

.form-row input[type=text], .form-row textarea {
	width: 200px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:5px;
	font-family: 'Quattrocento Sans', sans-serif;
	
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	resize: none;
	font-size:12px;
}

.form-row textarea {
	height:150px;
}

.form-row input[type=submit] {
	background-color: #000000;
	color:white;
	font-weight:bold;
	border:none;
	padding:3px;
	cursor:pointer;
}

#right-content #copy {
	float:left; clear:both;
	width:323px; height:300px;
	margin:29px 15px;
	position:relative;
}

#carousel {
	width:303px; height:130px;
	margin:29px 10px 0 10px;
	overflow:hidden;
	position:absolute;
}

#copy div.arrow {
	position:absolute;
	display:block;
	margin-top:72px;
	background-color:transparent;
	background-repeat:no-repeat;
	background-image:url(/images/main/press-arrows.png);
	width:13px; height:19px;
	cursor:pointer;
}
#copy div.arrow.left {left:-5px; background-position:0 0;}
#copy div.arrow.right {right:-5px; background-position:-13px 0;}

#carousel ul {
	position:absolute;
	height 130px;
	list-style:none;
}

#carousel ul li {
	float:left;
	width:101px;
	text-align:center;
}

#carousel ul li a img {
	display:inline;
}

.press-releases p a {
	padding-left:23px;
	background:transparent url(/images/main/contact-us/pdf-icon.gif) no-repeat left center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#right-content {
		display:none;
	}
	
	#container {
		float:left; clear:both;
		height:auto;
	}
	
	#main-info {
		position:relative;
		float:left; clear:both;
		width:auto; height:auto;
		margin:29px;
		padding:0;
	}
	
	.mCustomScrollBox {
		float:left; clear:both;
		height:auto!important;
	}

	.form-row input[type=text], .form-row textarea {
		width:96%;
		padding:1%;
	}
	
	.form-row label {
		width: auto;
		margin-right:10px;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#right-content {
		display:none;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#right-content {
		display:none;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}