@charset "utf-8";
/* CSS Document */

html {height:100%;}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family:Arial, Helvetica, sans-serif!important;
	text-align:center;
	height:100%;
	overflow-x:hidden;
}

#size-id {
	width:1px; height:1px;
	position:absolute;
	background-color:#fff;
	z-index:15001;
	display: block;
}
#size-id:after {content:'1280';}

#wrapper {
	position:absolute;
	width:960px; height:600px;
	left:50%; top:50%;
	margin-left:-480px; margin-top:-300px;
	text-align:left;
}

/* side nav area */

#side-nav-mask {
	position:absolute;
	left:29px; top:109px;
	width:200px; height:461px;
	padding:0; margin:0;
	overflow:hidden;
}

#side-nav {
	position:absolute;
	left:-200px; top:0; /* Forced to -109px with JS */
	width:178px; height:461px;
	padding:0; margin:0;
	z-index:5000;
}

#bSideNav {
	position:absolute;
	left:121px; top:212px;
	width:77px; height:44px;
	background:transparent url(/images/main/explore-more.png) no-repeat 0px 0;
	background-size:77px 40px;
	cursor:pointer;
}

#bSideNav.out {
	background-position:0 0;
}

.sn-arr-up, .sn-arr-down {
	position:absolute;
	left:29px;
	width:67px; height:15px;
	background-image:url(/images/main/arrows-up-down.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

.sn-arr-up {top:6px; background-position:0 0;}
.sn-arr-down {top:441px; background-position:0 -15px;}

.sn-mask {
	position:absolute;
	left:29px; top:21px;
	width:67px; height:420px;
	overflow:hidden;
}

.sn-list {
	list-style:none;
	position:absolute;
	left:0; top:0;
}

.sn-list li {
	width:67px; height:84px;
	float:left; clear:both;
}

.sn-list li img {
	float:left; clear:both;
	width:67px; height:67px;
}
.sn-list li span {
	display:block;
	float:left; clear:both;
	width:67px; height:17px;
	text-align:center;
	font-size:11px;
	font-family: 'Varela', sans-serif;
	color:#fff;
}


/* header area */

.main-logo {
	left:0px; bottom:8px;
	position:absolute;
}

header {
	position:absolute;
	left:29px; top:0;
	width:902px; height:80px;
	overflow:hidden;
}

header #social {
	position:absolute;
	right:0; top:20px;
}

header h1 {
	position:absolute;
	right:0; bottom:5px;
	font-size:25px;
	line-height:25px;
}

#headerImage {
	position:absolute;
	right: 0px; top: 50px;
	width:243px; height:19px;
}

/* main menu area */

.menu-bars {
	position:absolute;
	width:902px; height:27px;
	left:29px; top:80px;
	border-top:1px #adadad solid;
	border-bottom:1px #adadad solid;
	z-index:9999;
}

.main-menu {
	float:left;
	height:auto;
	list-style:none;
	padding:0; margin:0;
	font-family: 'Varela', sans-serif;
}

.main-menu li {
	float:left;
	color:#000000;
	font-size:12px;
	padding:0 37px 0 0;
	height:27px;
	position:relative;
}

.main-menu li a.l1 {
	padding:4px 0 5px 0;
	height:18px;
	display:block;
}

.main-menu li a.l1:hover, .main-menu li a.l1:visited:hover {color:#a49fb4;}

.main-menu li.b7 {padding-right:0!important;}

.main-menu a:hover{
	color:#000;
	background:#fff;
}

/*--- DROPDOWN ---*/
.main-menu .sub-menu {
	border-top:1px #adadad solid;
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	top:26px;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	margin-top:1px;
	padding:5px;
	min-width:100px;
}
.main-menu .sub-menu li {
	padding:0 0 0 0; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:left; clear:both;
	width:100%;
	height:auto;
}
.main-menu .sub-menu li.heading {
	font-weight:bold;
	margin:5px 2px 2px 2px;
	border-bottom:1px #d6d6d6 solid;
}

.main-menu .sub-menu a {
	padding:2px 3px 1px 3px;
	font-size:11px;
	height:auto;
	display:block;
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.main-menu li:hover .sub-menu { /* Display the dropdown on hover */
	left:0px; /* Bring back on-screen when needed */
}
.main-menu li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */

}
.main-menu li:hover .sub-menu li a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */

}
.main-menu li:hover .sub-menu li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#000000;
	color:#fff!important;
}

/* content area */

section {
	position:absolute;
	left:29px; top:109px;
	width:902px; height:461px;
	background:url(/images/main/home/background.jpg) no-repeat top right;
}

/* footer area */

footer {
	position:absolute;
	z-index:5001;
	left:29px; right:auto; top:570px;

	font-size:10px;
	padding:0 0 5px 0;
	width:902px;
	text-align:left;
}

footer .line {
	float:left; clear:both;
	border-top:1px #adadad solid;
	width:100%; height:5px;
}

footer ul {
	list-style:none;
	float:left;
	width:auto;
	margin-left:auto; margin-right:auto;
}

footer ul li {
	display:inline;
	float:left;
	margin-right:5px;
}

.fbar4 {display:none;}

footer div.copyright, footer div.trademark, footer div.disclaimer {
	float:left;
	text-wrap:none;
	display:block;
	width:auto;
	margin-left:auto; margin-right:auto;
}

.disclaimer {
	display:none;
}

section {
	color:#000000;
}

section h2 {
	font-weight:normal !important;
	font-size:18px;
	font-family: 'Quattrocento Sans', sans-serif;
	margin-bottom:10px;
	line-height:20px;
}

section p {
	margin-bottom:10px;
	font-size:14px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:16px;
}

/* cookies policy */

#cookie-notify {
	width:100%; height:auto;
	background-color:#fff;
	position:relative;
	font-size:12px;
	overflow:hidden;
	top:0px; left: 0px;
	border-bottom:1px solid #cccccc;
	z-index:11000;
}
#cookie-notify p {margin:0!important; padding:10px 83px 10px 29px; color:#333333;}
#cookie-notify a:link, #cookie-notify a:visited {color:#d7006d;}
#cookie-notify a:hover, #cookie-notify a:visited:hover {color:#d7006d;}
#cookie-notify img {
	position:absolute;
	right:29px; top:29px;
}

.addthis {
	display: block;
	overflow:hidden;
	width: 151px;
	height: auto;
}

/* misc */

#fb-root {
	/* This fixes an issue created by the FB Like button */
	display:none;
}

.error {font-size:10px;color:#990000;}

/*======================================================================
 * Video style for collections
 *======================================================================
 */
/* Video player style
 * TODO: make into sass variable
================================================== */
.nair-background-fade {
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.9);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	z-index:10000;
}

.nair-video-wrap {
	position:absolute;
	margin-top:-20px;
	display:none;
	width:100%;
	height:auto;
	z-index:10001;
}

.nair-video-container {
	width: 730px;
	height: 410px;
	margin:0 auto;
}

.nair-video-contents {
	width: 100%;
	height: 100%;
}

.nair-video-close-wrap {
	width:50px;
	height:50px;
	margin-bottom: -45px;
	margin-right: -2px;
	float:right;
}

.nair-video-close-content {
	width:25px;
	height:25px;
	line-height:1.8em;
	font-size:2em;
	text-align: center;
	margin:0 auto;
}

 .nair-video-close-content a
,.nair-video-close-content a:visited {
	padding:10px;
	color:rgba(255,255,255,1);
	background:rgba(12,0,57,1);
}

.nair-video-close-content a:hover {
	color:rgba(228,130,4,1);
}

.nair-video-container p {
	color:#555;
	background-color: transparent;
	padding:0;
	margin:0;
}

.nair-video
,.jp-video-play{
	display:none;
}

#jp_container_1 {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
}

div.jp-video-play {
	margin-top: -295px;
	height: 301px;
}

div.jp-gui {
	display: none;
}

div.jp-type-single {
	width: 100%;
	height: 100%;
	/*
	-moz-box-shadow:	0px 0px 30px rgba(0,0,0,0.4);
	-ms-box-shadow:		0px 0px 30px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
	box-shadow:			0px 0px 30px rgba(0,0,0,0.4);
	*/
}

/*======================================================================
 * Jplayer override style
 *======================================================================
 */
 .video-wrap {
	width:439px;
	height:179px;
	overflow:hidden;
 }

.jp-jplayer{
	width: 439px;
	height: 179px;
}

.jp-gui {
	margin-top:10px;
	transition:			all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition:		all 0.3s ease;
	-o-transition:		all 0.3s ease;
}

.slideUp {
	margin-top:-35px;
}

div.jp-interface {
	position: relative;
	background: transparent;
}

@media only screen and (max-height : 700px) and (min-width:760px) {
  #wrapper {
    top: 4rem !important;
    margin-top: 0 !important;
  }
}
