/* CSS Document */

section {
	background-image: url('/images/main/main-background.jpg');
}

.whiteText {
	color:white;
}

#container {
	width: 902px; height:461px;
}

#main-image {
	width: 556px; height: 461px;
	position: absolute;
}

#main-image img {
	right:0px;
	bottom:0px;
}

#right-content {
	width:346px; height: 461px;
	position: absolute;
	right:0px;
	padding-left:10px;
	background: url('/images/main/hub/white-trans-bg.png');
	padding-left:29px;
}

#right-content.brazilian {
	background: url('/images/main/hub/brazilian-trans-bg.png');
	padding-left:29px;
}

#mini-nav .brazilian {
	padding-left:29px;
}

#mini-nav img.shift-y {
	margin-left:-60px;
	margin-top:-20px;
}

#mini-nav img.shift-x {
	margin-left:-60px;
}

 .text-bottom-wrap
,.text-bottom {
	width:100%;
	margin-top:-15px;
	float:left;
}

.text-bottom {
	width:310px;
	margin:0 auto;
	float:none;
}

.text-bottom p {
	font-size:12px;
	font-weight:bold;
}

#copy {
	position:relative;
	float: left; clear: both;
	width:327px; height: 196px;
	top:29px;
}

#mini-nav {
	width:346px; height:256px;
	position:relative;
	float: left; clear: both;
}

#carousel-master {
	list-style:none;
	position:absolute;
	left:0; top:0;
}

#carousel-master li {
	position:absolute;
	left:0; top:0;
}

#carousel-master li img.norm, #carousel-master li img.blur {
	/*width:88px; height:230px;*/
	position:absolute;
	left:-44px; top:-115px;
}

#carousel-master li img.blur {
	opacity:0;
}

#bLeft, #bRight {
	position:absolute;
	width:129px; height:246px;
	top:0;
	cursor:pointer;
	transition:			all 400ms ease;
	-moz-transition:	all 400ms ease; /* Firefox 4 */
	-webkit-transition: all 400ms ease; /* Safari and Chrome */
	-ms-transition:		all 400ms ease; /* ie */
	-o-transition:		all 400ms ease; /* Opera */
	background: rgba(255,255,255,0);
}

 #bLeft.hubCarOver
,#bRight.hubCarOver {
	background: rgba(255,255,255,0.5);
}

 #bLeft.hubCarFade
,#bRight.hubCarFade {
	-ms-filter:		"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
	filter:			alpha(opacity=30); /* IE 5-7 */
	-moz-opacity:	0.3; /* Netscape */
	-khtml-opacity: 0.3; /* Safari 1.x */
	opacity:		0.3; /* Good browsers */
}

#bLeft {
	z-index:10001;
	left:0;
}
#bLeft img {
	position:absolute;
	right:0; top:120px;
}
#bRight {
	z-index:10002;
	right:0;
}
#bRight img {
	position:absolute;
	left:0; top:120px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#main-image {
		display:none;
	}

	#right-content {
		width:auto; height:461px;
		position: absolute;
		left:0; right:0;
		padding:0;
	}

	#container {
		width: 100%;
	}

	#copy {
		position:relative;
		float: none; clear: both;
		width:346px; height: 196px;
		margin-left:auto; margin-right:auto;
		top:20px;
	}

	#mini-nav {
		width:346px; height:256px;
		position:relative;
		float: none; clear: both;
		margin-left:auto; margin-right:auto;
	}

	#mini-nav .brazilian {
		padding-left:29px;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}

	#mini-nav .brazilian {
		padding-left:29px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}

	#mini-nav .brazilian {
		padding-left:29px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */

}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}
