/* CSS Document */
@import url("../customscroll/jquery.mCustomScrollbar.css");
@import url("../chosen/chosen.css");

section {
	background-image: none;
	background-color:#000;
}

#container {
	width: 902px; height:461px;
}

#main-image {
	width: 556px; height: 461px;
	position: absolute;
}

#main-image img {
	right:0px;
	bottom:0px;
}

#right-content {
	width:346px; height: 461px;
	position: absolute;
	right:0px;
	padding-left:10px;
	background: url('/images/main/spa/black-trans-bg.png');
	padding-left:29px;
}

.copy {
	position:relative;
	float: left; clear: both;
	width:327px; height: 411px;
	top:35px;
	color:#ffffff;
}

#stage1, #stage2 {
	height: 500px;
}

.copy p {margin-top:15px;}
.copy p a {color:#ffffff;text-decoration:underline;}

.question {
	margin-top:15px;
	padding-top:15px;
	border-top:1px #ffffff dotted;
	font-size:18px;
	line-height:22px;
}

.product-container {
	float:left; clear:both;
	width:346px;
	position:relative;
	z-index:20000;
	color:#000000;
}

.form-row {
	float:left; clear:both;
	margin-top:5px;
}

.form-row label {
	float:left;
	margin-right:10px;
	width:150px;
}

.form-row input {
	float:left;
	width:150px;
	font-size:11px;
	-moz-user-select: text!important;
  	-webkit-user-select: text!important;
  	-ms-user-select: text!important;
}

.form-row input.chk {
	width:15px;
	margin-right:10px;
}

.form-row a.link {text-decoration:underline;}
.form-row a.link:link, .form-row a.link:visited {color:#ffffff;}
.form-row a.link:hover, .form-row a.link:visited:hover {color:#dddddd;}

.bSubmitFinal {width:69px!important;}

.source-container {
	float:left; clear:both;
	width:346px;
	position:relative;
	z-index:20000;
	color:#000000;
}

.chzn-select {
	width:316px;
}

.err_outer {
	float:left; clear:both;
	margin-top:1px;
	height:12px;
	color:#eeeeee;
}

.error {
	color:#eeeeee;
}

#terms-box {
	position:absolute;
	width:316px; height: 446px;
	padding:0 15px 15px 15px;
	right:0; top:0;
	z-index:20001;
	background-color:#000000;
}

#terms-box a.closer {
	display:block;
	float:right;
	height:15px;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	margin:5px 1px 10px 0;
	padding:1px 3px 0 3px;
	color:#ffffff;
	border:1px #ffffff solid;
}

#terms-info {
	float:left; clear:both;
	width:316px; height: 416px;
	color:#ffffff;
	overflow:auto;
}

#terms-info ol {
	padding-left:30px;
	width:256px;
}

#terms-info ol li ol{
	padding-left:30px;
	width:226px;
}

#terms-info a {color:#ffffff;text-decoration:underline;}

.mCustomScrollBox .mCSB_scrollTools {
	background-color:#ffffff;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color:#0c0039;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color:#0c0039;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#main-image {
		display:none;
	}
	
	#right-content {
		width:auto; height:461px;
		position: absolute;
		left:0; right:0;
		padding:0;
	}
	
	#container {
		width: 100%;
	}
	
	.copy {
		position:relative;
		float: none; clear: both;
		width:346px; height: 196px;
		margin-left:auto; margin-right:auto;
		top:20px;
	}
	
	#terms-box {
		width:auto;
		right:0;
	}

	#terms-info {
		width:100%;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}
	
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#container {
		left:29px; right:29px;
		width: auto;
	}
	
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */

}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}