/* CSS Document */

section {
	background-image: url('/images/main/main-background.jpg');
}

#container {
	position: absolute;
	top: 0px; left:0p;
	width:902px; height: 461px;
}

#productImage {
	position: absolute;
	width:320px; height:334px;
	left:345px;
}

#smoothIcon {
	position:absolute;
	top:26px; right:19px;
}

#productTitle {
	position:absolute;
	right:29px; bottom: 0px;
	font-size: 25px;
	font-family: 'Varela', sans-serif;
	margin-bottom:20px;
}

#point-top-right, #point-bottom-right, #point-bottom-right-sensitive {
	width:200px;
	position:absolute;
}

#point-top-left, #point-bottom-left {
	width:250px;
	position:absolute;
}

#point-top-left {left: 85px; top: 100px;}
#point-top-right {left: 670px; top: 80px;}
#point-bottom-left {left: 85px; top: 250px;}
#point-bottom-right {left: 670px; top: 255px;}

#point-bottom-right-sensitive {left: 670px; top: 275px;}

#point-top-left p {font-size:14px;}
#point-top-right p {font-size:14px;}
#point-bottom-left p {font-size:14px;}
#point-bottom-right p {font-size:14px;position:absolute;top:-10px;}

#arrow-top-left {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 0 -31px;
	position:absolute;
	top: 55px; right:-40px;
}

#arrow-top-right {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 66px -31px;
	position:absolute;
	top: -50px; left:-40px;
}

#arrow-bottom-left {
	width:66px; height:31px;
	background: url('/images/main/products/arrows.png') 0 0;
	position:absolute;
	top: 30px; right:-30px;
}

#arrow-bottom-right {
	width:68px; height:31px;
	background: url('/images/main/products/arrows.png') -66px 0;
	position:absolute;
	top: -50px; left:-30px;
}

/* SHORT: for when text is a couple of lines only */
#arrow-bottom-left-short {
	width:66px; height:31px;
	background: url('/images/main/products/arrows.png') 0 0;
	position:absolute;
	top: 45px; right:-10px;
}

#arrow-bottom-left-bikini {
	width:66px; height:31px;
	background: url('/images/main/products/arrows.png') 0 0;
	position:absolute;
	top: 25px; right:-10px;
}

#arrow-top-left-short {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 0 -31px;
	position:absolute;
	top: 40px; right:0px;
}

#arrow-top-left-bsc-shower-cream {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 0 -31px;
	position:absolute;
	top: 50px; right:-20px;
}

/* LONG: for big paragraphs of text */
#arrow-top-left-long {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 0 -31px;
	position:absolute;
	top: 70px; right:-30px;
}
#arrow-top-left-bikini {
	width:66px; height:43px;
	background: url('/images/main/products/arrows.png') 0 -31px;
	position:absolute;
	top: 85px; right:-30px;
}

#arrow-bottom-left-long {
	width:66px; height:31px;
	background: url('/images/main/products/arrows.png') 0 0;
	position:absolute;
	top: 60px; right:-10px;
}

#arrow-bottom-right-sensitive {
	width:68px; height:31px;
	background: url('/images/main/products/arrows.png') -66px 0;
	position:absolute;
	top: -35px; left:-30px;
}

.lilac {color:#7b5bc5;font-weight:bold;font-size:19px;}
.limeGreen{color:#9ec538;font-weight:bold;font-size:19px;}
.skyBlue{color:#26c1e4;font-weight:bold;font-size:19px;}
.turquoise{color:#00c1c2;font-weight:bold;font-size:19px;}
.pink{color:#cf56ae;font-weight:bold;font-size:19px;}

#productFooter {
	position: absolute;
	width:360px; height:25px;
	top: 350px;left:345px;
}

#productFooter ul {
	list-style: none;
}

#productFooter ul li {
	float: left;
	font-size:14px;
	font-weight: bold;
	margin-left:3px;
	margin-right:3px;
}

#suggestedProducts {
	position:absolute;
	left: 440px;bottom: 10px;
	width: 150px; height: 80px;
	text-align: center;
}

#suggestedProducts p {
	font-weight:bold;
	font-size:13px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}