/* CSS Document */

section {
	background-image: url('/images/main/main-background.jpg');
}

#container {
	/*width: 902px;*/
	height:461px;
}

#main-image {
	width: 100%; height: 461px;
	position: absolute;
	text-align:center;
}

#anim-frame {
	height:411px;
	margin:59px 366px 0 80px;
}

#anim-frame #anim.masked {
	-webkit-border-radius: 10.5%;
 	border-radius: 10.5%;
}

#anim-frame #anim {
	max-width:285px;
	margin-left:auto; margin-right:auto;
	background:transparent url(/images/main/effective/loader.gif) no-repeat center center;
	position:relative;
}
#anim-frame #anim img {}
#anim-frame #anim #flash-embed, .breplay, .bstatic {
	position:absolute;
	left:0; top:0;
}
.pointer {cursor:pointer;}




#anim-menu {
	list-style:none;
	margin:0; padding:0;
	max-width:285px;
	margin-left:auto; margin-right:auto;
}

#anim-menu li {
	float:left;
	display:block;
	width:33%;
	color:#000000;
	font-size:18px;
	font-family: 'Varela', sans-serif;
}

#anim-menu li a {text-decoration:underline;}
#anim-menu li a:link, #anim-menu li a:visited {color:#000000;}
#anim-menu li a:hover, #anim-menu li a:visited:hover {color:#000000;}

#anim-menu li.active a:link, #anim-menu li.active a:visited {color:#000000;}
#anim-menu li.active a:hover, #anim-menu li.active a:visited:hover {color:#000000;}

#anim-menu li.b1 {text-align:left;}
#anim-menu li.b2 {text-align:center;}
#anim-menu li.b3 {text-align:right;}


#right-content {
	position:absolute;
	top:0px; right:0px;
	width: 351px; height: 461px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .85);
}

#right-content h2 {
	width:321px;
	font-weight:normal!important;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:20px;
	font-size:18px;
	margin-top:29px;
	margin-bottom:10px;
	padding:0 15px;
	clear:both;
}

#right-content p {
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height:16px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0 15px;
	clear:both;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#right-content {
		width:auto; height:auto;
		float:left; clear:both;
		position:relative;
		left:auto; right:auto;
		padding:0 0 20px 0;
	}
	
	#right-content h2 {
		width:100%;
		text-align:center;
		padding-left:0; padding-right:0;
	}
	
	#main-image {
		width: 100%; height: auto;
		float:left; clear:both;
		position:relative;
		text-align:center;
		padding:20px 0;
	}
	
	#anim-frame {
		height:auto;
		margin:0;
	}
	
	#container {
		float:left; clear:both;
		width: 100%; height:auto;
	}
}


@media only screen
and (min-width : 481px)
and (max-width : 570px) {
	/* Styles */
	#anim {
		display:none;
	}
	
	#anim-menu {
		position:absolute;
		top:20px; right:51px;
		width: 285px; height: 40px;
		z-index:1001;
	}
	
	#right-content {
		height: 421px;
		padding:40px 0 0 0;
	}
}

@media only screen
and (min-width : 571px)
and (max-width : 701px) {
	/* Styles */
	#anim-menu li {
		float:left; clear:both;
		width:100%;
		text-align:center!important;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}