/* CSS Document */

section {
	background-image: none;
	background-color:white;
}

#main-image {
	width: 550px; height: 461px;
	position: absolute;
}
#main-image img {
	position:absolute;
	width:450px;
	right:10px;
	bottom:0px;
}
#main-image img.home {
	bottom:20px;
}

#container {
	width: 902px; height:461px;
}

#right-content {
	position:absolute;
	top:0px; right:0px;
	width: 351px; height: 461px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, .85);
}

#right-content h2 {
	font-weight:normal;
	font-family: 'Varela', sans-serif;
	font-size:18px;
	margin-top:29px;
	margin-bottom:5px;
	padding-left:15px;
	clear:both;
}

#questions {
	float:left;clear:both;
	margin-top:5px;
}

#questions h3, #questions h3, #questions h3 {
	font-size: 12px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight:bold;
	line-height:14px;
	background-image:url('/images/main/bullet.png');
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-top:5px;
}

#questions div p, #questions div p, #questions div p {
	font-size: 12px;
	line-height:14px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight:normal;
	padding-left: 15px;
}

.question-highlighted, .question-highlighted a, .question-highlighted a:visited, .question-highlighted a:active {
	color:white;
	background-color:#000000;
	padding:5px 5px 5px 0;
	font-weight:bold;
	line-height: 16px;
	background-image:none !important;
	margin-bottom:5px;
}

#question-tab {
	list-style: none;
	margin: 10px 0;
}
#question-tab li {
	float:left;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;  font-weight:bold;
	width:117px;
	text-align: center;
	background-color:#DDE2E6;
}
#question-tab li:hover {
	background-color:#DDE2E6;
}

#question-tab li#active a, #question-tab li#active a:active, #question-tab li#active a:visited  {
	background-color:#000000;
	color:white;
}

#question-tab li a, #question-tab li a:active, #question-tab li a:visited  {
	padding:5px 5px 5px 5px !important;
	font-weight:bold;
	display: block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#right-content {
		width:auto; height:461px;
		position: absolute;
		left:0; right:0;
		padding:0;
	}
	
	#right-content h2 {
		width:100%;
		text-align:center;
		padding-left:0; padding-right:0;
	}
	
	#main-image {
		display:none;
	}
	
	#question-tab {
		width:100%;
	}
	
	#question-tab li {
		width:33.33%;
	}
	
	#container {
		width: 100%; height:461px;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}