/* CSS Document */

#home-canvas {
	position:relative;
	width:902px; height:461px;
	overflow:hidden;
}

#home-canvas img {
	position:absolute;
}

#home-canvas .reflect {
	left:89px; bottom:0;
	opacity:0;
}

#home-img {
	position:absolute;
	bottom:0;
	width:100%;
}

.home-text {
	position:absolute;
	left:100px; top:70px;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:14px;
	color:#fff;
}

#voucher-header {
	position:absolute;
	left: 0px; top: 29px;
}

.disclaimer {
	display:block;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
	/* Styles */
	#home-canvas {display:none;}
	#home-img {
		position:relative;
		float:left;
	}

	.home-text {
		display:none;
	}
	
	#voucher-header {
		display: none;
	}
}


/* The world between (portrait and landscape) ----------- */
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
	/* Styles */
	#home-canvas {display:none;}
	.instructions {display:none;}
	.home-text {font-size:20px;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 769px)
and (max-width : 960px) {
	/* Styles */
	#home-canvas {display:none;}
	.instructions {display:none;}
	.home-text {font-size:20px;}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 960px) {
	/* Styles */
	#home-img {display:none;}
}

/* Retina Displays ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

}