/* CSS Document */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  /* Styles */
  #size-id:after {
    content: '480'; }
  .hideSmall {
    display: none; }
  #cookie-shim {
    position: relative; }
  #wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    margin-left: 0;
    margin-top: 0;
    margin-top: 8rem;
    text-align: left; }
  #side-nav {
    display: none; }
  header {
    position: relative;
    float: left;
    clear: both;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    height: auto;
    overflow: visible;
    text-align: center; }
  .main-logo {
    left: auto;
    bottom: auto;
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
  header #social {
    position: relative;
    left: auto;
    right: auto;
    top: 5px;
    width: 100%; }
  header #social .addthis {
    position: relative;
    width: 160px;
    margin-left: auto;
    margin-right: auto; }
  header #social a {
    display: inline; }
  .addthis_pill_style {
    display: none !important; }
  #headerImage {
    position: relative;
    right: auto;
    top: 0;
    bottom: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .menu-bars {
    float: left;
    clear: both;
    left: 0;
    right: 0;
    top: auto;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 10px; }
  .main-menu {
    width: 100%; }
  .main-menu li {
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 3px;
    overflow: hidden; }
  .main-menu .sub-menu {
    /*display:none;*/
    width: 100%;
    left: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px #adadad solid;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0px; }
  .main-menu .sub-menu li {
    width: 100%;
    height: 27px; }
  .main-menu .sub-menu li a {
    width: 100%;
    height: 27px;
    font-size: 14px; }
  section {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    left: auto;
    right: auto;
    top: auto;
    height: auto; }
  footer {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: auto;
    font-size: 11px;
    text-align: center; }
  footer ul {
    float: none; }
  footer ul li {
    float: none; }
  footer div.copyright, footer div.trademark, footer div.disclaimer {
    width: 100%; }
  .disclaimer {
    display: none !important; } }

/* The world between (portrait and landscape) ----------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles */
  #size-id:after {
    content: '768'; }
  .hideMedium {
    display: none; }
  #cookie-shim {
    position: relative; }
  #wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    margin-left: 0;
    margin-top: 0;
    margin-top: 5rem;
    text-align: left; }
  header, .menu-bars, footer {
    width: auto;
    right: 29px; }
  header {
    height: 110px; }
  .menu-bars {
    top: 110px;
    height: 54px; }
  /* Increase from 27px to 54px */
  .main-menu {
    width: auto; }
  .menu-grp1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px; }
  .menu-grp2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px; }
  .main-menu li {
    padding: 0 11px 0 0; }
  #side-nav-mask {
    top: 165px; }
  /* increase from 138px to 165px */
  section {
    width: auto;
    right: 29px;
    top: 166px;
    /* increase from 139px to 166px */
    overflow: hidden; }
  footer {
    top: 627px;
    text-align: center; }
  /* increase from 600px to 627px */
  footer ul {
    float: none; }
  footer ul li {
    float: none; }
  footer div.copyright, footer div.trademark, footer div.disclaimer {
    width: 100%; }
  .fbar4 {
    display: none; } }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 769px) and (max-width: 960px) {
  /* Styles */
  #size-id:after {
    content: '960'; }
  #cookie-shim {
    position: relative; }
  #wrapper {
    position: absolute;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    margin-left: 0;
    margin-top: 0;
    margin-top: 5rem;
    text-align: left; }
  header, .menu-bars, footer {
    width: auto;
    right: 29px; }
  .menu-bars {
    height: 54px; }
  /* increase from 27px to 54px */
  .main-menu {
    width: auto; }
  .menu-grp1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px; }
  .menu-grp2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px; }
  #side-nav-mask {
    top: 135px; }
  /* increase from 108px to 135px */
  section {
    width: auto;
    right: 29px;
    top: 136px;
    /* increase from 109px to 136px */ }
  footer {
    top: 597px;
    text-align: center; }
  /* increase from 570px to 597px */
  footer ul {
    float: none; }
  footer ul li {
    float: none; }
  footer div.copyright, footer div.trademark, footer div.disclaimer {
    width: 100%; }
  .fbar4 {
    display: none; } }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 960px) {
  /* Styles */
  #size-id:after {
    content: '>960'; } }

/* Retina Displays ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
