@charset "utf-8";
/* CSS Document */

/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html {
  margin:0;
  padding:0;
  border:0;

	 -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}


body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display:block;
}

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
	font-size:12px; /* 16x0.75=12 */
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float:none !important;
}
table, th, td {
  vertical-align: middle;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }


/* Default Links */

a {
	outline:none;
	text-decoration:none;
	/*-webkit-transition: color 500ms ;
	-moz-transition: color 500ms ;
	-ms-transition: color 500ms ;
	-o-transition: color 500ms ;
	transition: color 500ms ;*/
}
a:link, a:visited {color:#000000;}
a:hover, a:visited:hover {color:#000000;}

/*********************************************
/* Some Custom Styles
/*********************************************/

.hidden {display:none!important;}
.pointer {cursor:pointer!important;}

.ff {float:left;}
.rf {float:right;}
.cf {float:left;clear:both;}
.cf-pr {float:left;clear:both;position:relative;}
.rcf {float:right;clear:both;}
.rcf-pr {float:right;clear:both;position:relative;}
.jc {clear:both;}
.abs {position:absolute;}
.rel {position:relative;}

.tac {text-align:center;}

/* Quick Margins */

.mt0 {margin-top:0px!important;}
.mt1 {margin-top:1px!important;}
.mt5 {margin-top:5px!important;}
.mt10 {margin-top:10px!important;}
.mt15 {margin-top:15px!important;}
.mt20 {margin-top:20px!important;}
.mt25 {margin-top:25px!important;}
.mt30 {margin-top:30px!important;}
.mt40 {margin-top:40px!important;}

.mr0 {margin-right:0px!important;}
.mr5 {margin-right:5px!important;}
.mr10 {margin-right:10px!important;}
.mr15 {margin-right:15px!important;}
.mr20 {margin-right:20px!important;}
.mr30 {margin-right:30px!important;}

.mb0 {margin-bottom:0px!important;}
.mb5 {margin-bottom:5px!important;}
.mb10 {margin-bottom:10px!important;}
.mb15 {margin-bottom:15px!important;}
.mb20 {margin-bottom:20px!important;}

.ml0 {margin-left:0px!important;}
.ml1 {margin-left:1px!important;}
.ml5 {margin-left:5px!important;}
.ml10 {margin-left:10px!important;}
.ml15 {margin-left:15px!important;}
.ml20 {margin-left:20px!important;}

/* Quick Paddings */

.pt0 {padding-top:0px!important;}
.pt5 {padding-top:5px!important;}
.pt10 {padding-top:10px!important;}
.pt15 {padding-top:15px!important;}

.pr0 {padding-right:0px!important;}
.pr5 {padding-right:5px!important;}
.pr10 {padding-right:10px!important;}
.pr15 {padding-right:15px!important;}

.pb0 {padding-bottom:0px!important;}
.pb5 {padding-bottom:5px!important;}
.pb10 {padding-bottom:10px!important;}
.pb15 {padding-bottom:15px!important;}

.pl0 {padding-left:0px!important;}
.pl5 {padding-left:5px!important;}
.pl10 {padding-left:10px!important;}
.pl15 {padding-left:15px!important;}


.nodecoration {text-decoration:none;}

.dontwrap {white-space:nowrap;}

@import 'cookie_policy';
