/* CSS Document */

/*======================================================================
 * Fonts
 *======================================================================
 */
@font-face {
    font-family: 'trade_gothic_lhboldextended';
    src: url('../../fonts/tgbv____0-webfont.eot');
    src: url('../../fonts/tgbv____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgbv____0-webfont.woff') format('woff'),
         url('../../fonts/tgbv____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgbv____0-webfont.svg#trade_gothic_lhboldextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trade_gothic_lhextended';
    src: url('../../fonts/tgv_____0-webfont.eot');
    src: url('../../fonts/tgv_____0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/tgv_____0-webfont.woff') format('woff'),
         url('../../fonts/tgv_____0-webfont.ttf') format('truetype'),
         url('../../fonts/tgv_____0-webfont.svg#trade_gothic_lhextended') format('svg');
    font-weight: normal;
    font-style: normal;

}

section {
    background-image: url('/images/main/home-v6/background.gif');
    background-position: top left;
}

#home {
    position:absolute;
    top:328px;
    left:108px;
    right:29px;
    bottom: 26px;


    .mobile-header {
        display:none;
    }

    h2 {
      color:#fff;
      padding-bottom:0.5rem;
      font-size: 20px
    }

    p {
      position:relative;
      font-family: 'trade_gothic_lhextended', 'Quattrocento Sans', Arial, Helvetica, sans-serif;
      color:#ffffff;
      font-size:12px;
      line-height:14px;
      left:0; bottom:0;
      width:74%;
      margin-bottom:0;
    }

    .range {
        position:absolute;
        right:40px; bottom:38px;
        width:129px;
        margin-left:-(184px / 2);
    }

    .buy-now {
        font-family: 'trade_gothic_lhboldextended', Arial, Helvetica, sans-serif;
        position:absolute;
        right:58px;
        bottom:0;
        background-color:#ffffff;
        color:#000000;
        padding:5px 20px 4px 20px;
    }
}




.mobile-wrap {
  h2, p {
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 768px) {

    section {
        float:left; clear:both;
        position:relative;
        width:100%; left:auto; right:auto; top:auto;
        height:auto;
        background-image:none;
    }

    #home {
        float:left; clear:both;
        position:relative;
        top:auto;
        left:auto;
        right:auto;
        bottom: auto;
        padding:20px;

        .mobile-header {
            width:100%;
            display:block;
        }

        .mobile-wrap {
            float:left; clear:both;
            width:96%;
            padding:2%;
            margin-top:5px;
            background-image:url(/images/main/home-v6/bg-repeat.png);
            background-size:contain;
            background-repeat: repeat-y;
        }

        p {
            float:left;
            width:100%;
            position:relative;
            margin-top:0;
            margin-bottom:1em;
        }

        .range {
            position:relative;
            left:50%; bottom:auto;
            margin-left:-(129px / 2);
        }

        .buy-now {
            float:right; clear:both;
            position:relative;
            right:auto;
            bottom:auto;
            margin-top:135px;
            padding:5px 20px 4px 20px;
        }
    }

}


/* The world between (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 768px) {

    section {
        margin-top:166px;
    }

    #side-nav-mask {
        display:none;
    }

    #home {
        padding:10px 29px;

        p {
           font-size:12px;
           line-height:14px;
        }

        .buy-now {
          transform: translateX(50%);
          right: 50%;
        }
    }


    footer {
        float:left; clear:both;
        position:relative;
        width:100%;
        left:auto; right:auto; top:auto;
        padding-left:29px; padding-right:29px;
        box-sizing:border-box;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 769px) and (max-width : 960px) {

    #home {
        .range {
            right:0px;
        }

        .buy-now {
            right:20px;
        }
    }
}
